<a href="https://colab.research.google.com/github/shreshthi-kumar/skumar-IB2AD-Datascience-GenAI-Submissions/blob/main/2_01_data_and_feature_engineering_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1xqQczl0FG-qtNA2_WQYuWePW9oU8irqJ)

# Data and Feature Engineering
This Notebook will introduce us to preparing our datasets for data science and AI workloads. For sturctured data, this will often utilise popular Python libraries such as Pandas, which will be the focus for this Notebook.

### What is Pandas?
As Python has grown to become a popular solution for data analysis, many new tools have been introduced to support such tasks. Pandas is arguably the most popular and widely used of these, although it does have some limitations (if working with very large datasets you may want to look at Dask and/or PySpark).

First, we will import it into our session. This effectively means we have opened the library in the background, and can now use the [functions](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_10_functions.ipynb) built into it. We will also import numpy - another widely used Python package for working with numerical data (the name is a portmanteau of "numerical" and "python"). By convention we import pandas as "pd" and numpy as "np". This is equivalent to giving it a variable name.

In [2]:
import pandas as pd
import numpy as np

### Testing our installation
To test everything is working we will create some fake data frame using numpy and load it into a pandas dataframe (more on these below). First we will create the random numbers:

In [3]:
x = np.random.rand(10,1)
x

array([[0.55107219],
       [0.90658091],
       [0.21408293],
       [0.35044199],
       [0.09684243],
       [0.21856226],
       [0.64724323],
       [0.43682966],
       [0.05041512],
       [0.5814526 ]])

The commands here have told numpy to create a set of random numbers between zero and one. The arguments we have passed, "1" and "10", tells numpy we want a 10x1 array of numbers (i.e. a table (more accurately a vector) with 10 rows and 1 column).

Next we will create a pandas dataframe using "x":

In [4]:
testdf = pd.DataFrame(x)
testdf

          0
0  0.551072
1  0.906581
2  0.214083
3  0.350442
4  0.096842
5  0.218562
6  0.647243
7  0.436830
8  0.050415
9  0.581453

We have now successfully created a pandas dataframe!

### What are Dataframes?
Pandas has a very elegant way of managing data, very much borrowed from the statistical language R, mostly based around dataframes. You can think of dataframes a bit like an Excel table with rows, columns and common operations like sum, average and so on. We can use this on top of our previous work on lists and dictionaries (etc.) more usable and malleable.

To begin with we will create a dataset - in this case a [dictionary](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_05_dictionaries.ipynb).

In [5]:
orders = {'o10001':{'date':'2024/01/10', 'product':'Hoodie', 'quantity':'1'},
            'o10002':{'date':'2024/01/13', 'product':'Tote bag', 'quantity':'2'},
            'o10003':{'date':'2024/01/14', 'product':'Pencil', 'quantity':'10'},
            'o10004':{'date':'2024/01/15', 'product':'T-shirt', 'quantity':'2'}
}
orders

{'o10001': {'date': '2024/01/10', 'product': 'Hoodie', 'quantity': '1'},
 'o10002': {'date': '2024/01/13', 'product': 'Tote bag', 'quantity': '2'},
 'o10003': {'date': '2024/01/14', 'product': 'Pencil', 'quantity': '10'},
 'o10004': {'date': '2024/01/15', 'product': 'T-shirt', 'quantity': '2'}}

We can convert this to a Dataframe with great ease

In [6]:
import pandas as pd
import numpy as np

orders_df = pd.DataFrame(orders)
orders_df

              o10001      o10002      o10003      o10004
date      2024/01/10  2024/01/13  2024/01/14  2024/01/15
product       Hoodie    Tote bag      Pencil     T-shirt
quantity           1           2          10           2

We can even create such outputs from more complex dictionaries, such as a dictionary which includes a nested list:

In [7]:
customers = {'Mark':{'name':'Mark Johnson', 'open_orders':3, 'orders':['o10001', 'o10002', 'o10004']},
             'Katy':{'name':'Katy Hoad', 'open_orders':0, 'orders':[]},
             'Angela':{'name':'Angela Lorenz', 'open_orders':1, 'orders':['o10003']},
             'Bo':{'name':'Bo Kelestyn', 'open_orders':0, 'orders':[]}
}
customers

{'Mark': {'name': 'Mark Johnson',
  'open_orders': 3,
  'orders': ['o10001', 'o10002', 'o10004']},
 'Katy': {'name': 'Katy Hoad', 'open_orders': 0, 'orders': []},
 'Angela': {'name': 'Angela Lorenz', 'open_orders': 1, 'orders': ['o10003']},
 'Bo': {'name': 'Bo Kelestyn', 'open_orders': 0, 'orders': []}}

In [8]:
customers_df = pd.DataFrame(customers)
customers_df

                                 Mark       Katy         Angela           Bo
name                     Mark Johnson  Katy Hoad  Angela Lorenz  Bo Kelestyn
open_orders                         3          0              1            0
orders       [o10001, o10002, o10004]         []       [o10003]           []

Pandas dataframes can also be built from various other data structures and sources (including Excel files, CSVs, text files, databases and many more). For example, we can make our dataframe from a set of [lists](https://github.com/MJMortensonWarwick/IB2AD0_Data_Science_GenerativeAI/blob/main/1_04_lists.ipynb):

In [9]:
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d"]
c = [True, False, True, False]

listdf = pd.DataFrame([a, b, c])
listdf

      0      1     2      3
0     1      2     3      4
1     a      b     c      d
2  True  False  True  False

### EXERCISE
Try building you own dataframes from a list and/or dictionary you create. What would happen if you have an item missing from one element. E.g. if "c" in the above example only had three items - True, False, True - rather than four. Test it - does the output match your expectation?

In [10]:
# TEST 1: The List Method (Row-oriented)

print("--- TEST 1: Missing value in a List of Lists ---")
a = [1, 2, 3, 4]
b = ["a", "b", "c", "d"] # 'c' is missing the 4th item
c_short = [True, False, True]

# When building from a list of lists, pandas treats inner lists as ROWS.
# It will automatically fill missing slots with 'None' or 'NaN' (Not a Number).
list_df_missing = pd.DataFrame([a, b, c_short])
print("Result with Lists (Notice the None/NaN in the last column):")
display(list_df_missing)
print("\n")

# TEST 2: The Dictionary Method (Column-oriented)

print("--- TEST 2: Missing value in a Dictionary ---")
try:
    # When building from a dict, keys are COLUMNS.
    # Pandas strictly requires all lists to be the same length.
    dict_missing = {
        'Numbers': [1, 2, 3, 4],
        'Letters': ["a", "b", "c", "d"],
        'Booleans': [True, False, True] # Missing one value
    }
    dict_df = pd.DataFrame(dict_missing)
except ValueError as e:
    print("Result with Dictionary:")
    print(f"FAILED with Error: {e}")

--- TEST 1: Missing value in a List of Lists ---
Result with Lists (Notice the None/NaN in the last column):

      0      1     2     3
0     1      2     3     4
1     a      b     c     d
2  True  False  True  None

--- TEST 2: Missing value in a Dictionary ---
Result with Dictionary:
FAILED with Error: All arrays must be of the same length

### Exercise Findings

**Observation:**
When creating a DataFrame from a **list of lists**, Pandas is forgiving: it constructs the DataFrame and fills the missing data point in the shorter row with `None` or `NaN` (Not a Number). However, if we attempt this with a **dictionary** (where lists represent columns), Pandas raises a `ValueError: All arrays must be of the same length`.